.jumbotron{
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url(https://cdn.pocket-lint.com/r/s/970x/assets/images/143913-laptops-feature-new-macbook-and-macbook-air-specs-and-rumours-whats-the-story-so-far-image5-nreqgmmvah.jpg);
  background-size:cover;

}



/* div#content{
  display: grid;
  justify-content: center;
} */

#container{
  max-width: 760px;
  margin: 0 auto;
  /* padding: 20px;
  border-radius: 5px;
  background-color: gray; */

}
